.full-article {
  margin-top: 10px;
}
.full-article .go-back {
  position: absolute;
  top: 5px;
  left: 5px;
}
.full-article .go-back img {
  max-width: 33px;
}
.full-article figure {
  width: 100%;
  height: 249px;
  background-color: white;
  flex: 1 0 49%;
  padding: 20px 0;
  position: relative;
  border-radius: 10px;
}
.full-article figure img {
  object-fit: contain;
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.full-article .article-content {
  flex: 0 0 49%;
}

.full-article .article-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.full-article input {
  text-align: start;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  outline: none;
  background-color: #fafafa;
}
.full-article button {
  margin-bottom: 10px;
}
.full-article .article-title {
  font-weight: bold;
  margin-bottom: 10px;
  overflow: visible;
}
.full-article .article-category-normal {
  font-style: italic;
}
.full-article .article-subtitle {
  text-align: justify;
  overflow: visible;
  text-overflow: unset;
  -webkit-line-clamp: unset;
  display: block;
  -webkit-box-orient: unset;
  height: unset;
}

@media (min-width: 600px) {
  .full-article {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
