.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgb(248, 252, 252);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 17%);
  z-index: 2;
}
.nav h1 a {
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.nav div {
  position: relative;
  cursor: pointer;
}
.shopping-cart {
  max-width: 45px;
}
.nav .count-badge {
  width: 20px;
  height: 20px;
  background: orange;
  color: #0d3c94;
  border-radius: 50%;
  position: absolute;
  bottom: 19px;
  left: 26px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cartBtn {
  position: relative;
}
#cartBtn .cart-badge {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-100%, -50%);
  cursor: default;
  white-space: nowrap;
  background-color: orange;
  border-radius: 27px 0 0 27px;
  z-index: -1;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 0;
  transition: all 0.4s ease-out;
}

#cartBtn .cart-badge.show {
  max-width: 120px;
}

#cartBtn .cart-badge span {
  display: inline-block;
  padding: 4px 19px;
  padding-left: 10px;
}
